<a href="https://colab.research.google.com/github/IagoFeliubadalo/PythonSalle/blob/master/2_Cualitativo_Green_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. ANÁLISIS CUALITATIVO.

## 2.1 ¿Cuál es el trayecto en el que la relación precio/km es más alta? ¿Cuál es el trayecto en el que la relación tiempo/km es más alta? ¿Cuál es el trayecto en el que la relación precio/tiempo es más alta?

## 2.2 ¿Cuál es el trayecto en el que la relación precio/km es más baja? ¿Cuál es el trayecto en el que la relación tiempo/km es más baja? ¿Cuál es el trayecto en el que la relación precio/tiempo es más baja?

**1. Importar librerías**

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime,date
import time

**2. Leer datos GREEN**

In [0]:
dg3 = pd.read_csv('C:/Master/green_tripdata_2015-03_2.csv')

**3. Head de datos, visualización primeras filas**

In [0]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,2.10,8.0,0.5,0.5,0.0,0.0,0.3,9.3,1,1.0
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,4.70,20.0,0.5,0.5,4.0,0.0,0.3,25.3,1,1.0
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,3.09,11.0,0.5,0.5,0.0,0.0,0.3,12.3,2,1.0
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,2.20,8.5,0.5,0.5,0.0,0.0,0.3,9.8,4,1.0
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,0.75,5.5,0.5,0.5,1.0,0.0,0.3,7.8,1,1.0

**4. Calculamos la carrera más cara y más barata**

In [0]:
dg3['Expensive'] = dg3.apply(
    lambda s: 0 if s['Trip_distance']==0 else round((s['Total_amount']+s['Tip_amount'])/s['Trip_distance'],2), axis=1)

In [0]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,...,8.0,0.5,0.5,0.0,0.0,0.3,9.3,1,1.0,4.43
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,...,20.0,0.5,0.5,4.0,0.0,0.3,25.3,1,1.0,6.23
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,...,11.0,0.5,0.5,0.0,0.0,0.3,12.3,2,1.0,3.98
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,...,8.5,0.5,0.5,0.0,0.0,0.3,9.8,4,1.0,4.45
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,...,5.5,0.5,0.5,1.0,0.0,0.3,7.8,1,1.0,11.73

**5. ¿Cuál es el trayecto en el que la relación precio/km es más alta?**

In [0]:
print(np.max(dg3['Expensive']))

8206.2

In [0]:
expensive = dg3[dg3['Expensive'] ==  np.max(dg3['Expensive'])]

In [0]:
expensive

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive
1312227,2,2015-03-25 16:14:12,2015-03-25 16:14:59,N,3,-73.90799,40.633045,-73.90934,40.634258,1,...,20.0,1.0,0.0,399.66,0.0,0.3,420.96,1,1.0,8206.2

**6. ¿Cuál es el trayecto en el que la relación precio/km es más baja?**

In [0]:
print(np.min(dg3['Expensive']))

0.01

In [0]:
cheaper = dg3[dg3['Expensive'] ==  np.min(dg3['Expensive'])]

In [0]:
cheaper

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive
124625,1,2015-03-03 16:43:38,2015-03-03 16:54:17,N,1,-73.955238,40.820087,-73.946884,40.808601,1,...,8.5,1.0,0.5,0.0,0.0,0.3,10.3,1,1.0,0.01

In [0]:
cheaper['Trip_distance']

124625    721.1
Name: Trip_distance, dtype: float64

 **7. Calculamos las relación tiempo/km más alta y más baja**

In [0]:
dg3.dtypes

VendorID                   int64
lpep_pickup_datetime      object
Lpep_dropoff_datetime     object
Store_and_fwd_flag        object
RateCodeID                 int64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude        float64
Dropoff_latitude         float64
Passenger_count            int64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
improvement_surcharge    float64
Total_amount             float64
Payment_type               int64
Trip_type                float64
Expensive                float64
dtype: object

In [0]:
dg3['Time_carreer_seconds'] = dg3.apply(
    lambda s:
    time.mktime((datetime.strptime(s['Lpep_dropoff_datetime'],"%Y-%m-%d %H:%M:%S")).timetuple())
    -time.mktime((datetime.strptime(s['lpep_pickup_datetime'],"%Y-%m-%d %H:%M:%S")).timetuple())
    ,axis=1)

In [0]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive,Time_carreer_seconds
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,...,0.5,0.5,0.0,0.0,0.3,9.3,1,1.0,4.43,356.0
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,...,0.5,0.5,4.0,0.0,0.3,25.3,1,1.0,6.23,1498.0
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,...,0.5,0.5,0.0,0.0,0.3,12.3,2,1.0,3.98,504.0
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,...,0.5,0.5,0.0,0.0,0.3,9.8,4,1.0,4.45,416.0
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,...,0.5,0.5,1.0,0.0,0.3,7.8,1,1.0,11.73,334.0

In [0]:
dg3['Time_carrer_minutes'] = dg3.apply(
    lambda s:
    (s['Time_carreer_seconds'] % 3600) // 60
    ,axis=1)

In [0]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive,Time_carreer_seconds,Time_carrer_minutes
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,...,0.5,0.0,0.0,0.3,9.3,1,1.0,4.43,356.0,5.0
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,...,0.5,4.0,0.0,0.3,25.3,1,1.0,6.23,1498.0,24.0
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,...,0.5,0.0,0.0,0.3,12.3,2,1.0,3.98,504.0,8.0
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,...,0.5,0.0,0.0,0.3,9.8,4,1.0,4.45,416.0,6.0
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,...,0.5,1.0,0.0,0.3,7.8,1,1.0,11.73,334.0,5.0

In [0]:
dg3['Time_long_vs_km'] = dg3.apply(
    lambda s: round(s['Time_carreer_seconds']/s['Trip_distance'],2), axis=1)

In [0]:
expensive = dg3[dg3['Time_long_vs_km'] ==  np.max(dg3['Time_long_vs_km'])]

 **8. ¿Cuál es el trayecto en el que la relación tiempo/km es más alta?**

In [0]:
expensive

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive,Time_carreer_seconds,Time_carrer_minutes,Time_long_vs_km
1646175,2,2015-03-31 13:18:58,2015-04-01 12:37:40,N,1,-73.863983,40.732418,-73.858955,40.735451,1,...,0.0,0.0,0.3,3.8,2,1.0,38.0,83922.0,18.0,839220.0

In [0]:
expensive['Trip_distance']

1646175    0.1
Name: Trip_distance, dtype: float64

In [0]:
cheaper = dg3[dg3['Time_long_vs_km'] ==  np.min(dg3['Time_long_vs_km'])]

 **9. ¿Cuál es el trayecto en el que la relación tiempo/km es más baja?**

In [0]:
cheaper

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive,Time_carreer_seconds,Time_carrer_minutes,Time_long_vs_km
1531979,2,2015-03-29 01:59:08,2015-03-29 02:00:27,N,5,-73.874969,40.829277,-73.87561,40.829235,1,...,0.0,0.0,0.0,18.0,2,2.0,60.0,-3521.0,1.0,-11736.67

In [0]:
cheaper['Trip_distance']

1531979    0.3
Name: Trip_distance, dtype: float64

In [0]:
dg3['Time_long_vs_price'] = dg3.apply(
    lambda s: round(s['Time_carreer_seconds']/s['Total_amount'],2), axis=1)

In [0]:
expensive = dg3[dg3['Time_long_vs_price'] ==  np.max(dg3['Time_long_vs_price'])]

 **10. ¿Cuál es el trayecto en el que la relación precio/tiempo es más alta?**

In [0]:
expensive

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive,Time_carreer_seconds,Time_carrer_minutes,Time_long_vs_km,Time_long_vs_price
721680,1,2015-03-14 15:15:34,2015-03-16 01:09:19,N,1,-73.931709,40.858513,-73.92868,40.856373,2,...,0.0,0.3,4.8,2,1.0,12.0,122025.0,53.0,305062.5,25421.88

In [0]:
print(expensive['Total_amount'])
print(expensive['Time_carrer_minutes'])

721680    4.8
Name: Total_amount, dtype: float64
721680    53.0
Name: Time_carrer_minutes, dtype: float64

In [0]:
cheaper = dg3[dg3['Time_long_vs_price'] ==  np.min(dg3['Time_long_vs_price'])]

 **11. ¿Cuál es el trayecto en el que la relación precio/tiempo es más alta?**

In [0]:
cheaper

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Expensive,Time_carreer_seconds,Time_carrer_minutes,Time_long_vs_km,Time_long_vs_price
1531277,2,2015-03-29 01:58:37,2015-03-29 02:00:24,N,1,-73.914284,40.756844,-73.921715,40.755703,1,...,0.0,0.3,4.8,2,1.0,11.43,-3493.0,1.0,-8316.67,-727.71

In [0]:
print(cheaper['Total_amount'])
print(cheaper['Time_carrer_minutes'])

1531277    4.8
Name: Total_amount, dtype: float64
1531277    1.0
Name: Time_carrer_minutes, dtype: float64

## 2.3 Muestra la evolución del tiempo medio de trayecto a lo largo del día. Muestra la evolución de la distancia media de trayecto a lo largo del día.

**1. Creamos variables relevantes para el caso de estudio**

In [0]:
dg3['Week_day'] = dg3.apply(
    lambda s:
    datetime.weekday(datetime.strptime(s['Lpep_dropoff_datetime'],"%Y-%m-%d %H:%M:%S"))+1
    ,axis=1)

In [0]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Time_carreer_seconds,Time_carrer_minutes,Week_day
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,...,0.5,0.0,0.0,0.3,9.3,1,1.0,356.0,5.0,7
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,...,0.5,4.0,0.0,0.3,25.3,1,1.0,1498.0,24.0,7
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,...,0.5,0.0,0.0,0.3,12.3,2,1.0,504.0,8.0,7
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,...,0.5,0.0,0.0,0.3,9.8,4,1.0,416.0,6.0,7
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,...,0.5,1.0,0.0,0.3,7.8,1,1.0,334.0,5.0,7

In [0]:
dg3['Hour_day'] = dg3.apply(
    lambda s:
    datetime.strptime(s['Lpep_dropoff_datetime'],"%Y-%m-%d %H:%M:%S").hour
    ,axis=1)

In [0]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type,Time_carreer_seconds,Time_carrer_minutes,Week_day,Hour_day
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,...,0.0,0.0,0.3,9.3,1,1.0,356.0,5.0,7,0
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,...,4.0,0.0,0.3,25.3,1,1.0,1498.0,24.0,7,0
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,...,0.0,0.0,0.3,12.3,2,1.0,504.0,8.0,7,0
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,...,0.0,0.0,0.3,9.8,4,1.0,416.0,6.0,7,0
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,...,1.0,0.0,0.3,7.8,1,1.0,334.0,5.0,7,0

In [0]:
def df(d,dia,hora):

    return d[(d['Week_day']==dia) & (d['Hour_day']==hora)]

In [0]:
import matplotlib.pyplot as plt
from pylab import *

In [0]:
dia=1
hora=0

while dia<8:
    while hora<24:
        data=(df(dg3,dia,hora))
        print('Dia: ',dia, 'Hora: ',hora,'Tiempo: ',round(sum(data['Time_carrer_minutes'])/len(data),2),'Recorrido: ',round(sum(data['Trip_distance'])/len(data),2))
        hora=hora+1
    dia=dia+1
    hora=0

#sns.catplot(x="Week_day", y="Hour_day", col=avg, data=data)

Dia:  1 Hora:  0 Tiempo:  10.58 Recorrido:  2.93
Dia:  1 Hora:  1 Tiempo:  9.86 Recorrido:  2.81
Dia:  1 Hora:  2 Tiempo:  9.41 Recorrido:  2.73
Dia:  1 Hora:  3 Tiempo:  9.73 Recorrido:  2.85
Dia:  1 Hora:  4 Tiempo:  10.6 Recorrido:  3.41
Dia:  1 Hora:  5 Tiempo:  12.03 Recorrido:  4.41
Dia:  1 Hora:  6 Tiempo:  12.43 Recorrido:  3.97
Dia:  1 Hora:  7 Tiempo:  12.83 Recorrido:  3.21
Dia:  1 Hora:  8 Tiempo:  13.61 Recorrido:  2.8
Dia:  1 Hora:  9 Tiempo:  14.84 Recorrido:  3.08
Dia:  1 Hora:  10 Tiempo:  14.21 Recorrido:  3.06
Dia:  1 Hora:  11 Tiempo:  13.61 Recorrido:  2.94
Dia:  1 Hora:  12 Tiempo:  13.18 Recorrido:  2.95
Dia:  1 Hora:  13 Tiempo:  12.85 Recorrido:  2.91
Dia:  1 Hora:  14 Tiempo:  12.73 Recorrido:  2.79
Dia:  1 Hora:  15 Tiempo:  13.27 Recorrido:  2.72
Dia:  1 Hora:  16 Tiempo:  13.37 Recorrido:  2.62
Dia:  1 Hora:  17 Tiempo:  13.04 Recorrido:  2.53
Dia:  1 Hora:  18 Tiempo:  12.32 Recorrido:  2.49
Dia:  1 Hora:  19 Tiempo:  11.02 Recorrido:  2.47
Dia:  1 Hora:  20 Tiempo:  10.47 Recorrido:  2.53
Dia:  1 Hora:  21 Tiempo:  10.08 Recorrido:  2.61
Dia:  1 Hora:  22 Tiempo:  10.25 Recorrido:  2.78
Dia:  1 Hora:  23 Tiempo:  10.37 Recorrido:  2.91
Dia:  2 Hora:  0 Tiempo:  10.3 Recorrido:  2.92
Dia:  2 Hora:  1 Tiempo:  9.6 Recorrido:  2.93
Dia:  2 Hora:  2 Tiempo:  9.56 Recorrido:  2.86
Dia:  2 Hora:  3 Tiempo:  9.12 Recorrido:  2.85
Dia:  2 Hora:  4 Tiempo:  9.76 Recorrido:  3.3
Dia:  2 Hora:  5 Tiempo:  11.26 Recorrido:  4.1
Dia:  2 Hora:  6 Tiempo:  11.83 Recorrido:  3.86
Dia:  2 Hora:  7 Tiempo:  12.43 Recorrido:  3.01
Dia:  2 Hora:  8 Tiempo:  13.42 Recorrido:  2.61
Dia:  2 Hora:  9 Tiempo:  14.95 Recorrido:  2.98
Dia:  2 Hora:  10 Tiempo:  14.72 Recorrido:  2.99
Dia:  2 Hora:  11 Tiempo:  13.99 Recorrido:  2.86
Dia:  2 Hora:  12 Tiempo:  13.53 Recorrido:  2.84
Dia:  2 Hora:  13 Tiempo:  12.76 Recorrido:  2.81
Dia:  2 Hora:  14 Tiempo:  12.65 Recorrido:  2.62
Dia:  2 Hora:  15 Tiempo:  13.06 Recorrido:  2.54
Dia:  2 Hora:  16 Tiempo:  13.64 Recorrido:  2.51
Dia:  2 Hora:  17 Tiempo:  13.92 Recorrido:  2.38
Dia:  2 Hora:  18 Tiempo:  13.2 Recorrido:  2.35
Dia:  2 Hora:  19 Tiempo:  12.06 Recorrido:  2.4
Dia:  2 Hora:  20 Tiempo:  11.03 Recorrido:  2.47
Dia:  2 Hora:  21 Tiempo:  10.58 Recorrido:  2.59
Dia:  2 Hora:  22 Tiempo:  10.39 Recorrido:  2.69
Dia:  2 Hora:  23 Tiempo:  10.58 Recorrido:  2.86
Dia:  3 Hora:  0 Tiempo:  10.88 Recorrido:  3.02
Dia:  3 Hora:  1 Tiempo:  9.54 Recorrido:  2.8
Dia:  3 Hora:  2 Tiempo:  9.54 Recorrido:  2.84
Dia:  3 Hora:  3 Tiempo:  9.45 Recorrido:  2.88
Dia:  3 Hora:  4 Tiempo:  10.26 Recorrido:  3.42
Dia:  3 Hora:  5 Tiempo:  12.03 Recorrido:  4.6
Dia:  3 Hora:  6 Tiempo:  12.53 Recorrido:  3.96
Dia:  3 Hora:  7 Tiempo:  12.53 Recorrido:  3.06
Dia:  3 Hora:  8 Tiempo:  13.54 Recorrido:  2.76
Dia:  3 Hora:  9 Tiempo:  14.11 Recorrido:  2.92
Dia:  3 Hora:  10 Tiempo:  14.34 Recorrido:  3.05
Dia:  3 Hora:  11 Tiempo:  13.84 Recorrido:  2.96
Dia:  3 Hora:  12 Tiempo:  13.14 Recorrido:  2.88
Dia:  3 Hora:  13 Tiempo:  12.92 Recorrido:  2.83
Dia:  3 Hora:  14 Tiempo:  12.67 Recorrido:  2.66
Dia:  3 Hora:  15 Tiempo:  13.43 Recorrido:  2.6
Dia:  3 Hora:  16 Tiempo:  13.73 Recorrido:  2.57
Dia:  3 Hora:  17 Tiempo:  13.53 Recorrido:  2.5
Dia:  3 Hora:  18 Tiempo:  12.91 Recorrido:  2.47
Dia:  3 Hora:  19 Tiempo:  11.78 Recorrido:  2.5
Dia:  3 Hora:  20 Tiempo:  11.06 Recorrido:  2.59
Dia:  3 Hora:  21 Tiempo:  10.64 Recorrido:  2.64
Dia:  3 Hora:  22 Tiempo:  10.65 Recorrido:  2.81
Dia:  3 Hora:  23 Tiempo:  10.93 Recorrido:  2.97
Dia:  4 Hora:  0 Tiempo:  10.71 Recorrido:  2.96
Dia:  4 Hora:  1 Tiempo:  9.88 Recorrido:  2.82
Dia:  4 Hora:  2 Tiempo:  9.63 Recorrido:  2.83
Dia:  4 Hora:  3 Tiempo:  9.69 Recorrido:  2.96
Dia:  4 Hora:  4 Tiempo:  10.2 Recorrido:  3.3
Dia:  4 Hora:  5 Tiempo:  11.72 Recorrido:  4.34
Dia:  4 Hora:  6 Tiempo:  12.41 Recorrido:  4.01
Dia:  4 Hora:  7 Tiempo:  12.52 Recorrido:  3.06
Dia:  4 Hora:  8 Tiempo:  13.42 Recorrido:  2.73
Dia:  4 Hora:  9 Tiempo:  14.34 Recorrido:  2.9
Dia:  4 Hora:  10 Tiempo:  14.02 Recorrido:  2.93
Dia:  4 Hora:  11 Tiempo:  13.9 Recorrido:  2.88
Dia:  4 Hora:  12 Tiempo:  13.44 Recorrido:  2.75
Dia:  4 Hora:  13 Tiempo:  13.56 Recorrido:  2.79
Dia:  4 Hora:  14 Tiempo:  13.04 Recorrido:  2.71
Dia:  4 Hora:  15 Tiempo:  13.55 Recorrido:  2.63
Dia:  4 Hora:  16 Tiempo:  13.86 Recorrido:  2.65
Dia:  4 Hora:  17 Tiempo:  13.47 Recorrido:  2.63
Dia:  4 Hora:  18 Tiempo:  12.73 Recorrido:  2.51
Dia:  4 Hora:  19 Tiempo:  11.81 Recorrido:  2.55
Dia:  4 Hora:  20 Tiempo:  11.47 Recorrido:  2.68
Dia:  4 Hora:  21 Tiempo:  10.86 Recorrido:  2.7
Dia:  4 Hora:  22 Tiempo:  10.98 Recorrido:  2.76
Dia:  4 Hora:  23 Tiempo:  11.19 Recorrido:  2.84
Dia:  5 Hora:  0 Tiempo:  11.35 Recorrido:  2.97
Dia:  5 Hora:  1 Tiempo:  10.7 Recorrido:  2.94
Dia:  5 Hora:  2 Tiempo:  10.25 Recorrido:  2.89
Dia:  5 Hora:  3 Tiempo:  10.03 Recorrido:  2.92
Dia:  5 Hora:  4 Tiempo:  10.63 Recorrido:  3.35
Dia:  5 Hora:  5 Tiempo:  12.58 Recorrido:  4.57
Dia:  5 Hora:  6 Tiempo:  12.72 Recorrido:  3.97
Dia:  5 Hora:  7 Tiempo:  13.0 Recorrido:  3.17
Dia:  5 Hora:  8 Tiempo:  13.82 Recorrido:  2.81
Dia:  5 Hora:  9 Tiempo:  14.83 Recorrido:  3.11
Dia:  5 Hora:  10 Tiempo:  14.33 Recorrido:  3.09
Dia:  5 Hora:  11 Tiempo:  13.87 Recorrido:  3.01
Dia:  5 Hora:  12 Tiempo:  13.5 Recorrido:  2.92
Dia:  5 Hora:  13 Tiempo:  13.15 Recorrido:  2.9
Dia:  5 Hora:  14 Tiempo:  13.15 Recorrido:  2.68
Dia:  5 Hora:  15 Tiempo:  13.87 Recorrido:  2.56
Dia:  5 Hora:  16 Tiempo:  14.15 Recorrido:  2.59
Dia:  5 Hora:  17 Tiempo:  13.92 Recorrido:  2.48
Dia:  5 Hora:  18 Tiempo:  13.58 Recorrido:  2.48
Dia:  5 Hora:  19 Tiempo:  12.77 Recorrido:  2.51
Dia:  5 Hora:  20 Tiempo:  12.08 Recorrido:  2.59
Dia:  5 Hora:  21 Tiempo:  11.58 Recorrido:  2.65
Dia:  5 Hora:  22 Tiempo:  11.47 Recorrido:  2.75
Dia:  5 Hora:  23 Tiempo:  11.74 Recorrido:  2.93
Dia:  6 Hora:  0 Tiempo:  12.02 Recorrido:  3.05
Dia:  6 Hora:  1 Tiempo:  11.81 Recorrido:  3.06
Dia:  6 Hora:  2 Tiempo:  11.48 Recorrido:  3.14
Dia:  6 Hora:  3 Tiempo:  11.24 Recorrido:  3.19
Dia:  6 Hora:  4 Tiempo:  11.68 Recorrido:  3.34
Dia:  6 Hora:  5 Tiempo:  12.41 Recorrido:  3.9
Dia:  6 Hora:  6 Tiempo:  12.96 Recorrido:  4.4
Dia:  6 Hora:  7 Tiempo:  11.6 Recorrido:  3.84
Dia:  6 Hora:  8 Tiempo:  11.47 Recorrido:  3.45
Dia:  6 Hora:  9 Tiempo:  11.51 Recorrido:  3.08
Dia:  6 Hora:  10 Tiempo:  11.51 Recorrido:  2.89
Dia:  6 Hora:  11 Tiempo:  12.19 Recorrido:  2.85
Dia:  6 Hora:  12 Tiempo:  12.61 Recorrido:  2.84
Dia:  6 Hora:  13 Tiempo:  12.85 Recorrido:  2.83
Dia:  6 Hora:  14 Tiempo:  12.56 Recorrido:  2.71
Dia:  6 Hora:  15 Tiempo:  12.92 Recorrido:  2.81
Dia:  6 Hora:  16 Tiempo:  13.03 Recorrido:  2.79
Dia:  6 Hora:  17 Tiempo:  12.98 Recorrido:  2.76
Dia:  6 Hora:  18 Tiempo:  13.08 Recorrido:  2.8
Dia:  6 Hora:  19 Tiempo:  13.25 Recorrido:  2.86
Dia:  6 Hora:  20 Tiempo:  12.7 Recorrido:  2.83
Dia:  6 Hora:  21 Tiempo:  12.1 Recorrido:  2.81
Dia:  6 Hora:  22 Tiempo:  12.38 Recorrido:  2.97
Dia:  6 Hora:  23 Tiempo:  12.87 Recorrido:  3.14
Dia:  7 Hora:  0 Tiempo:  12.75 Recorrido:  3.17
Dia:  7 Hora:  1 Tiempo:  12.31 Recorrido:  3.18
Dia:  7 Hora:  2 Tiempo:  11.63 Recorrido:  3.17
Dia:  7 Hora:  3 Tiempo:  11.78 Recorrido:  3.31
Dia:  7 Hora:  4 Tiempo:  12.12 Recorrido:  3.48
Dia:  7 Hora:  5 Tiempo:  12.28 Recorrido:  3.79
Dia:  7 Hora:  6 Tiempo:  12.55 Recorrido:  4.37
Dia:  7 Hora:  7 Tiempo:  11.28 Recorrido:  4.14
Dia:  7 Hora:  8 Tiempo:  10.72 Recorrido:  3.62
Dia:  7 Hora:  9 Tiempo:  10.18 Recorrido:  3.11
Dia:  7 Hora:  10 Tiempo:  10.74 Recorrido:  3.07
Dia:  7 Hora:  11 Tiempo:  11.29 Recorrido:  2.96
Dia:  7 Hora:  12 Tiempo:  12.13 Recorrido:  2.97
Dia:  7 Hora:  13 Tiempo:  12.81 Recorrido:  2.87
Dia:  7 Hora:  14 Tiempo:  13.67 Recorrido:  2.85
Dia:  7 Hora:  15 Tiempo:  14.21 Recorrido:  2.88
Dia:  7 Hora:  16 Tiempo:  14.1 Recorrido:  2.92
Dia:  7 Hora:  17 Tiempo:  13.46 Recorrido:  2.94
Dia:  7 Hora:  18 Tiempo:  12.88 Recorrido:  2.86
Dia:  7 Hora:  19 Tiempo:  12.33 Recorrido:  2.8
Dia:  7 Hora:  20 Tiempo:  11.93 Recorrido:  2.76
Dia:  7 Hora:  21 Tiempo:  11.49 Recorrido:  2.85
Dia:  7 Hora:  22 Tiempo:  11.17 Recorrido:  2.94
Dia:  7 Hora:  23 Tiempo:  10.72 Recorrido:  2.97

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt

['Dia', 'Hora', 'Tiempo', 'Distancia']

In [0]:
dia=1
hora=0
lon=0
d = pd.DataFrame(columns=('Dia', 'Hora', 'Tiempo','Distancia'))
aux=[]
while dia<8:
    while hora<24:
        data=(df(dg3,dia,hora))
        aux=aux.append[dia,hora,round(sum(data['Time_carrer_minutes'])/len(data),2),round(sum(data['Trip_distance'])/len(data),2)      
        #sns.swarmplot(aux['Dia'],aux['Hora'], data=aux)
        plt.show()
        hora=hora+1
    dia=dia+1
    hora=0

d=pd.Dataframe(aux)

TypeError: 'DataFrame' object is not callable

In [0]:
data

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,improvement_surcharge,Total_amount,Payment_type,Trip_type,Time_carreer_seconds,Time_carrer_minutes,Time_long_vs_km,Time_long_vs_price,Week_day,Hour_day
2971,2,2015-03-01 00:15:21,2015-03-02 00:10:52,N,1,-73.924454,40.764870,-73.837555,40.784477,1,...,0.3,30.38,1,1.0,86131.0,55.0,10875.13,2835.12,1,0
3685,2,2015-03-01 13:55:56,2015-03-02 00:00:00,N,1,-73.991737,40.661201,-73.994919,40.753120,1,...,0.3,38.10,1,1.0,36244.0,4.0,4731.59,951.29,1,0
4457,2,2015-03-01 00:20:07,2015-03-02 00:00:00,N,1,-73.939407,40.790764,-73.986755,40.755913,1,...,0.3,18.80,2,1.0,85193.0,39.0,19494.97,4531.54,1,0
5573,2,2015-03-01 14:17:51,2015-03-02 00:00:00,N,5,-73.891579,40.819633,-73.890434,40.818676,1,...,0.0,12.60,1,2.0,34929.0,42.0,205464.71,2772.14,1,0
6348,2,2015-03-01 14:13:28,2015-03-02 00:00:00,N,1,-73.844673,40.720314,-73.850777,40.741821,1,...,0.3,14.04,1,1.0,35192.0,46.0,20109.71,2506.55,1,0
6836,2,2015-03-01 14:20:51,2015-03-02 00:00:00,N,1,-73.860657,40.833511,-73.978226,40.726173,1,...,0.3,36.80,1,1.0,34749.0,39.0,2848.28,944.27,1,0
9422,2,2015-03-01 14:50:32,2015-03-02 00:00:00,N,1,-73.939079,40.805122,-73.950829,40.812702,1,...,0.3,8.30,2,1.0,32968.0,9.0,34341.67,3972.05,1,0
10621,2,2015-03-01 14:47:47,2015-03-02 00:00:00,N,1,-73.869331,40.734158,-73.784355,40.741184,6,...,0.3,17.80,2,1.0,33133.0,12.0,6371.73,1861.40,1,0
15419,2,2015-03-01 19:06:16,2015-03-02 00:00:00,N,1,-73.862923,40.749912,-73.854561,40.744934,1,...,0.3,6.80,2,1.0,17624.0,53.0,19367.03,2591.76,1,0
17330,2,2015-03-01 00:43:57,2015-03-02 00:42:12,N,1,-73.958649,40.712650,-73.987167,40.718384,1,...,0.3,11.80,2,1.0,86295.0,58.0,49881.50,7313.14,1,0
17791,2,2015-03-01 00:47:10,2015-03-02 00:22:48,N,1,-73.807350,40.700401,-73.815010,40.755295,1,...,0.3,21.80,2,1.0,84938.0,35.0,12947.87,3896.24,1,0
18965,2,2015-03-01 01:01:25,2015-03-02 00:38:28,N,1,-73.947433,40.747978,-73.952293,40.743126,1,...,0.3,5.30,2,1.0,85023.0,37.0,141705.00,16042.08,1,0
22447,2,2015-03-01 05:39:44,2015-03-02 00:00:00,N,1,-73.935715,40.850166,-73.955971,40.808857,1,...,0.3,17.76,1,1.0,66016.0,20.0,17890.51,3717.12,1,0
23342,2,2015-03-01 06:09:56,2015-03-02 00:00:00,N,1,-73.987305,40.692467,-73.978012,40.726837,5,...,0.3,18.74,1,1.0,64204.0,50.0,13689.55,3426.04,1,0
29238,2,2015-03-01 20:13:56,2015-03-02 00:00:00,N,1,-73.890213,40.746277,-73.878754,40.742691,1,...,0.3,7.30,2,1.0,13564.0,46.0,17615.58,1858.08,1,0
33898,2,2015-03-01 01:59:23,2015-03-02 00:00:00,N,1,-73.888229,40.826553,-73.879074,40.828461,1,...,0.3,5.30,2,1.0,79237.0,0.0,172254.35,14950.38,1,0
35724,2,2015-03-01 02:11:37,2015-03-02 00:00:00,N,1,-73.925301,40.827827,-73.995560,40.736904,1,...,0.3,31.80,2,1.0,78503.0,48.0,7969.85,2468.65,1,0
36261,2,2015-03-01 02:26:21,2015-03-02 00:00:00,N,1,-73.913452,40.763241,-73.903931,40.772400,1,...,0.3,7.30,2,1.0,77619.0,33.0,64147.93,10632.74,1,0
36583,2,2015-03-01 02:34:29,2015-03-02 00:00:00,N,1,-73.844131,40.721130,-73.826714,40.754147,1,...,0.3,13.30,2,1.0,77131.0,25.0,21544.97,5799.32,1,0
39126,2,2015-03-01 08:14:38,2015-03-02 00:00:00,N,1,-73.918854,40.742981,-73.872231,40.748974,1,...,0.3,12.30,2,1.0,56722.0,45.0,19098.32,4611.54,1,0
41948,2,2015-03-01 10:36:35,2015-03-02 00:00:00,N,1,-73.942513,40.828156,-73.946815,40.819080,1,...,0.3,4.80,2,1.0,48205.0,23.0,96410.00,10042.71,1,0
42791,2,2015-03-01 22:02:49,2015-03-02 00:00:00,N,1,-73.946548,40.788963,-73.983330,40.748920,2,...,0.3,17.30,2,1.0,7031.0,57.0,1860.05,406.42,1,0
43181,2,2015-03-01 21:30:00,2015-03-02 00:00:00,N,1,-73.995041,40.679966,-73.962685,40.676853,6,...,0.3,11.80,2,1.0,9000.0,30.0,3719.01,762.71,1,0
43222,1,2015-03-01 23:59:13,2015-03-02 00:07:51,N,1,-73.957817,40.717796,-73.987610,40.719776,1,...,0.3,13.50,1,1.0,518.0,8.0,215.83,38.37,1,0
43223,1,2015-03-01 23:59:24,2015-03-02 00:09:56,N,1,-73.891441,40.747002,-73.887230,40.726929,1,...,0.3,10.80,2,1.0,632.0,10.0,316.00,58.52,1,0
43259,1,2015-03-01 23:59:51,2015-03-02 00:13:39,N,1,-73.890892,40.747032,-73.863510,40.757587,1,...,0.3,12.30,2,1.0,828.0,13.0,394.29,67.32,1,0
43260,1,2015-03-01 23:59:15,2015-03-02 00:27:46,N,1,-73.910728,40.776150,-73.974197,40.669250,1,...,0.3,36.30,2,1.0,1711.0,28.0,146.24,47.13,1,0
43261,1,2015-03-01 23:58:39,2015-03-02 00:29:32,N,1,-73.929482,40.819233,-73.916214,40.813068,1,...,0.3,22.80,2,1.0,1853.0,30.0,421.14,81.27,1,0
43336,1,2015-03-01 23:57:53,2015-03-02 00:13:48,N,1,-73.920975,40.756607,-73.884010,40.748188,2,...,0.3,13.80,2,1.0,955.0,15.0,341.07,69.20,1,0
43337,1,2015-03-01 23:57:39,2015-03-02 00:03:18,N,1,-73.944084,40.712429,-73.952614,40.726891,1,...,0.3,9.10,1,1.0,339.0,5.0,282.50,37.25,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587286,1,2015-03-30 00:25:19,2015-03-30 00:31:24,N,1,-73.902428,40.775852,-73.915665,40.764156,4,...,0.3,7.80,2,1.0,365.0,6.0,280.77,46.79,1,0
1587287,1,2015-03-30 00:24:03,2015-03-30 00:30:17,N,1,-73.863876,40.832607,-73.867447,40.847404,1,...,0.3,7.80,2,1.0,374.0,6.0,340.00,47.95,1,0
1587288,1,2015-03-30 00:24:43,2015-03-30 00:32:16,N,1,-73.955971,40.676003,-73.955818,40.650639,1,...,0.3,9.80,2,1.0,453.0,7.0,238.42,46.22,1,0
1587289,1,2015-03-30 00:23:02,2015-03-30 00:28:21,N,1,-73.957397,40.718616,-73.951172,40.711121,1,...,0.3,8.75,1,1.0,319.0,5.0,354.44,36.46,1,0
1587290,1,2015-03-30 00:21:52,2015-03-30 00:28:54,N,1,-73.918892,40.758926,-73.901733,40.746910,2,...,0.3,8.80,2,1.0,422.0,7.0,301.43,47.95,1,0
1587291,1,2015-03-30 00:21:14,2015-03-30 00:29:36,N,1,-73.918953,40.765713,-73.923424,40.743584,1,...,0.3,9.80,2,1.0,502.0,8.0,264.21,51.22,1,0
1587292,1,2015-03-30 00:21:02,2015-03-30 00:27:06,N,1,-73.954887,40.718510,-73.943993,40.719746,1,...,0.3,7.30,2,1.0,364.0,6.0,404.44,49.86,1,0
1587403,1,2015-03-30 00:20:27,2015-03-30 00:23:33,N,1,-73.903427,40.745411,-73.907372,40.737881,2,...,0.3,5.80,2,1.0,186.0,3.0,265.71,32.07,1,0
1587404,1,2015-03-30 00:19:41,2015-03-30 00:24:57,N,1,-73.952682,40.688251,-73.929390,40.684605,1,...,0.3,9.70,1,1.0,316.0,5.0,197.50,32.58,1,0
1587405,1,2015-03-30 00:17:55,2015-03-30 00:32:59,N,1,-73.963417,40.710373,-73.912514,40.699425,1,...,0.3,16.55,1,1.0,904.0,15.0,301.33,54.62,1,0
1587406,1,2015-03-30 00:17:33,2015-03-30 00:34:16,N,1,-73.949127,40.676853,-73.882797,40.663700,1,...,0.3,20.75,1,1.0,1003.0,16.0,222.89,48.34,1,0
1587407,1,2015-03-30 00:17:22,2015-03-30 00:34:21,N,1,-73.988792,40.685268,-74.016228,40.711117,1,...,0.3,18.95,1,1.0,1019.0,16.0,291.14,53.77,1,0
1587408,1,2015-03-30 00:14:19,2015-03-30 00:20:51,N,1,-73.922729,40.813389,-73.920090,40.830845,1,...,0.3,8.30,2,1.0,392.0,6.0,280.00,47.23,1,0
1587409,1,2015-03-30 00:12:32,2015-03-30 00:41:04,N,1,-73.902237,40.776142,-74.022606,40.625744,1,...,0.3,45.80,2,1.0,1712.0,28.0,107.00,37.38,1,0
1587410,1,2015-03-30 00:11:12,2015-03-30 00:24:58,N,1,-73.959610,40.654751,-73.949417,40.696594,1,...,0.3,14.80,2,1.0,826.0,13.0,242.94,55.81,1,0
1587411,1,2015-03-30 00:09:33,2015-03-30 00:18:47,N,1,-73.942635,40.817116,-73.951660,40.788490,1,...,0.3,11.30,2,1.0,554.0,9.0,221.60,49.03,1,0
1587412,1,2015-03-30 00:09:21,2015-03-30 00:26:07,N,1,-73.941833,40.817867,-73.986038,40.772915,1,...,0.3,19.30,1,1.0,1006.0,16.0,228.64,52.12,1,0
1587413,1,2015-03-30 00:08:49,2015-03-30 00:13:34,N,1,-73.977531,40.687561,-73.979591,40.696163,1,...,0.3,8.15,1,1.0,285.0,4.0,356.25,34.97,1,0
1587414,1,2015-03-30 00:09:03,2015-03-30 00:18:27,N,1,-73.903229,40.746025,-73.926376,40.763508,1,...,0.3,10.30,2,1.0,564.0,9.0,268.57,54.76,1,0
1587415,1,2015-03-30 00:08:42,2015-03-30 00:16:30,N,1,-73.856369,40.857059,-73.834900,40.847240,1,...,0.3,10.30,2,1.0,468.0,7.0,195.00,45.44,1,0
1587416,1,2015-03-30 00:07:38,2015-03-30 00:17:21,N,1,-73.952705,40.803246,-73.953575,40.775227,1,...,0.3,11.80,2,1.0,583.0,9.0,224.23,49.41,1,0
1587417,1,2015-03-30 00:07:27,2015-03-30 00:15:09,N,1,-73.844322,40.721375,-73.817070,40.727112,1,...,0.3,12.00,1,1.0,462.0,7.0,184.80,38.50,1,0
1587418,1,2015-03-30 00:07:19,2015-03-30 00:28:46,N,1,-73.965523,40.683254,-73.940979,40.712696,2,...,0.3,23.50,1,1.0,1287.0,21.0,273.83,54.77,1,0
1587419,1,2015-03-30 00:06:58,2015-03-30 00:21:07,N,1,-73.939186,40.842533,-73.906921,40.886654,1,...,0.3,15.80,2,1.0,849.0,14.0,223.42,53.73,1,0
1587420,1,2015-03-30 00:07:23,2015-03-30 00:09:51,N,1,-73.963409,40.802677,-73.955292,40.800186,1,...,0.3,5.30,2,1.0,148.0,2.0,296.00,27.92,1,0
1587421,1,2015-03-30 00:06:46,2015-03-30 00:18:15,N,1,-73.890572,40.746929,-73.902542,40.719398,1,...,0.3,12.30,2,1.0,689.0,11.0,287.08,56.02,1,0
1587422,1,2015-03-30 00:06:23,2015-03-30 00:21:54,Y,1,-73.987434,40.691601,-73.969460,40.631039,4,...,0.3,23.33,1,1.0,931.0,15.0,131.13,39.91,1,0
1587423,1,2015-03-30 00:04:53,2015-03-30 00:33:58,N,4,-73.923782,40.707130,-73.698334,40.682266,1,...,0.3,53.30,2,1.0,1745.0,29.0,96.94,32.74,1,0
1587424,1,2015-03-30 00:03:49,2015-03-30 00:10:04,N,1,-73.802483,40.714539,-73.787521,40.705811,1,...,0.3,7.80,2,1.0,375.0,6.0,267.86,48.08,1,0
1587425,1,2015-03-30 00:01:52,2015-03-30 00:12:45,N,1,-73.949921,40.717632,-73.993042,40.715271,2,...,0.3,12.80,2,1.0,653.0,10.0,225.17,51.02,1,0

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, Lpep_dropoff_datetime, Store_and_fwd_flag, RateCodeID, Pickup_longitude, Pickup_latitude, Dropoff_longitude, Dropoff_latitude, Passenger_count, Trip_distance, Fare_amount, Extra, MTA_tax, Tip_amount, Tolls_amount, improvement_surcharge, Total_amount, Payment_type, Trip_type, Time_carreer_seconds, Time_carrer_minutes, Time_long_vs_km, Time_long_vs_price, Week_day, Hour_day]
Index: []

[0 rows x 26 columns]

In [0]:
dy3 = pd.read_csv('C:/Master/yellow_tripdata_2015-03_2.csv')

In [0]:
dy3.head(30)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-03-06 08:02:31,2015-03-06 08:09:55,1,1.2,-73.990211,40.750969,1,N,-73.987892,40.738037,2,7.0,0.0,0.5,0.00,0.0,0.3,7.80
1,1,2015-03-06 08:02:31,2015-03-06 08:15:23,1,3.2,-73.935188,40.800720,1,N,-73.952553,40.765373,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30
2,1,2015-03-06 08:02:31,2015-03-06 08:12:27,1,1.1,-73.963753,40.767937,1,N,-73.956947,40.780270,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80
3,1,2015-03-06 08:02:31,2015-03-06 08:09:09,1,0.8,-73.997177,40.742168,1,N,-74.008064,40.739281,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
4,1,2015-03-06 08:02:32,2015-03-06 08:19:37,1,2.7,-74.006844,40.730267,1,N,-73.976860,40.750671,1,13.0,0.0,0.5,2.75,0.0,0.3,16.55
5,1,2015-03-06 08:02:32,2015-03-06 08:14:35,1,2.9,-73.954597,40.765614,1,N,-73.976517,40.739613,1,12.5,0.0,0.5,2.65,0.0,0.3,15.95
6,1,2015-03-06 08:02:33,2015-03-06 08:16:40,1,6.1,-73.954041,40.764015,1,N,-74.012604,40.701836,1,19.0,0.0,0.5,0.00,0.0,0.3,19.80
7,1,2015-03-06 08:02:34,2015-03-06 08:16:16,3,2.2,-73.959190,40.814949,1,N,-73.975868,40.786442,1,11.0,0.0,0.5,2.36,0.0,0.3,14.16
8,1,2015-03-06 08:02:34,2015-03-06 08:14:45,1,3.8,-73.889595,40.747311,1,N,-73.861954,40.768551,2,14.0,0.0,0.5,0.00,0.0,0.3,14.80
9,1,2015-03-06 08:02:34,2015-03-06 08:22:44,1,2.1,-73.980354,40.770206,1,N,-73.989784,40.741386,2,10.0,0.0,0.5,0.00,0.0,0.3,10.80
10,1,2015-03-06 08:02:35,2015-03-06 08:05:44,1,0.5,-73.959747,40.773666,1,N,-73.961372,40.768841,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30
11,1,2015-03-06 08:02:35,2015-03-06 08:04:14,1,0.4,-73.991669,40.751644,1,N,-73.997993,40.754105,2,3.5,0.0,0.5,0.00,0.0,0.3,4.30
12,1,2015-03-06 08:02:35,2015-03-06 08:13:17,1,2.0,-73.990334,40.731804,1,N,-74.009796,40.722000,1,9.0,0.0,0.5,2.00,0.0,0.3,11.80
13,1,2015-03-06 08:02:35,2015-03-06 08:06:17,1,0.5,-73.976807,40.755733,1,N,-73.979118,40.761562,1,4.5,0.0,0.5,1.06,0.0,0.3,6.36
14,1,2015-03-06 08:02:35,2015-03-06 08:08:24,1,0.8,-73.998558,40.760712,1,N,-73.997894,40.753193,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30
15,1,2015-03-06 08:02:35,2015-03-06 08:11:43,1,1.2,-73.945793,40.778095,1,N,-73.954071,40.764023,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
16,1,2015-03-06 08:02:36,2015-03-06 08:08:20,1,1.0,-73.991547,40.770077,1,N,-73.991646,40.759644,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
17,1,2015-03-06 08:02:36,2015-03-06 08:05:36,1,1.0,-73.972572,40.791058,1,N,-73.963089,40.803932,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
18,1,2015-03-06 08:02:36,2015-03-06 09:09:24,1,13.8,-73.776672,40.645309,1,N,-73.884026,40.748268,2,50.0,0.0,0.5,0.00,0.0,0.3,50.80
19,1,2015-03-06 08:02:36,2015-03-06 08:18:41,1,3.4,-73.941200,40.830769,1,N,-73.965126,40.806061,1,12.5,0.0,0.5,2.70,0.0,0.3,16.00
20,1,2015-03-06 08:02:37,2015-03-06 08:08:22,1,0.6,-73.967918,40.765221,1,N,-73.973770,40.756344,1,5.5,0.0,0.5,1.25,0.0,0.3,7.55
21,1,2015-03-21 03:42:33,2015-03-21 03:51:37,1,1.4,-73.998718,40.724545,1,N,-74.006844,40.708199,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
22,1,2015-03-21 03:42:33,2015-03-21 03:49:31,1,1.6,-74.005501,40.738838,1,N,-73.987320,40.749523,1,7.0,0.5,0.5,1.00,0.0,0.3,9.30
23,1,2015-03-21 03:42:33,2015-03-21 04:03:23,1,6.3,-73.980774,40.767551,1,N,-73.874672,40.752907,2,20.5,0.5,0.5,0.00,0.0,0.3,21.80
24,1,2015-03-21 03:42:35,2015-03-21 04:03:26,2,6.6,-73.991844,40.726177,1,N,-73.950523,40.805004,1,21.0,0.5,0.5,1.00,0.0,0.3,23.30
25,1,2015-03-21 03:42:35,2015-03-21 04:00:03,1,7.7,-74.004173,40.751961,1,N,-73.941071,40.834324,1,23.5,0.5,0.5,0.00,0.0,0.3,24.80
26,1,2015-03-21 03:42:37,2015-03-21 03:50:43,1,2.2,-74.004204,40.742115,1,N,-74.010963,40.713341,1,9.0,0.5,0.5,1.00,0.0,0.3,11.30
27,1,2015-03-21 03:42:37,2015-03-21 03:50:40,1,2.0,-74.003197,40.733192,1,N,-73.984573,40.715263,2,8.5,0.5,0.5,0.00,0.0,0.3,9.80
28,1,2015-03-21 03:42:38,2015-03-21 03:54:59,1,3.2,-73.986580,40.722164,1,N,-73.939507,40.713886,1,13.0,0.5,0.5,1.50,0.0,0.3,15.80
29,1,2015-03-21 03:42:39,2015-03-21 03:48:31,1,1.7,-73.986588,40.740189,1,N,-73.970032,40.757027,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30

In [0]:
dy=dy3[(dy3['pickup_latitude']<=40.778871) & (dy3['pickup_latitude']>=40.778704)]

In [0]:
dy=dy3[(dy3['pickup_longitude']>=-73.982236) & (dy3['pickup_longitude']<=-73.981801)]

In [0]:
dy=dy[(dy['dropoff_longitude']<=40.707536 ) & (dy['dropoff_latitude']>=40.707348)]

In [0]:
dy=dy[(dy3['dropoff_longitude']>=-74.011923) & (dy['dropoff_latitude']>=-74.012066)]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [0]:
dy

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
127,1,2015-03-30 22:40:48,2015-03-30 22:47:31,1,1.60,-73.981888,40.757450,1,N,-73.962646,40.765217,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30
207,2,2015-03-23 12:12:01,2015-03-23 12:20:43,1,0.38,-73.982132,40.765587,1,N,-73.975388,40.762878,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30
208,2,2015-03-23 12:12:01,2015-03-23 12:30:37,1,1.69,-73.982193,40.757278,1,N,-73.960007,40.763050,2,12.5,0.0,0.5,0.00,0.0,0.3,13.30
213,2,2015-03-23 12:12:02,2015-03-23 12:15:05,2,0.37,-73.982208,40.771156,1,N,-73.986824,40.769997,2,4.0,0.0,0.5,0.00,0.0,0.3,4.80
219,2,2015-03-23 12:12:03,2015-03-23 12:26:21,1,4.21,-73.981972,40.773422,1,N,-73.981972,40.773422,1,15.5,0.0,0.5,2.00,0.0,0.3,18.30
231,1,2015-03-30 23:10:26,2015-03-30 23:22:07,1,2.70,-73.981964,40.778687,1,N,-73.946022,40.777378,1,11.0,0.5,0.5,2.00,0.0,0.3,14.30
239,1,2015-03-30 23:10:32,2015-03-30 23:21:24,2,1.90,-73.981911,40.768356,1,N,-73.991402,40.744576,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
309,2,2015-03-12 22:42:02,2015-03-12 22:48:06,6,0.92,-73.981956,40.771858,1,N,-73.968819,40.766590,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30
568,1,2015-03-11 20:33:02,2015-03-11 20:42:39,1,2.20,-73.982025,40.771530,1,N,-73.964622,40.794926,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
590,1,2015-03-17 09:20:34,2015-03-17 09:48:22,1,0.70,-73.981949,40.768463,1,N,-73.969521,40.763454,1,16.0,0.0,0.5,3.35,0.0,0.3,20.15
729,2,2015-03-31 17:25:49,2015-03-31 17:38:43,5,2.18,-73.981979,40.769104,1,N,-73.953934,40.770329,1,10.5,1.0,0.5,1.00,0.0,0.3,13.30
807,2,2015-03-08 08:15:52,2015-03-08 08:21:14,1,1.46,-73.982170,40.778046,1,N,-73.983673,40.761288,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
872,2,2015-03-27 06:24:21,2015-03-27 06:29:03,1,1.32,-73.981903,40.773308,1,N,-73.975693,40.760216,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
882,2,2015-03-27 06:24:26,2015-03-27 06:31:51,5,1.98,-73.982124,40.775227,1,N,-73.960075,40.776047,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30
970,2,2015-03-21 20:21:04,2015-03-21 20:30:08,5,1.39,-73.981880,40.768082,1,N,-73.991928,40.753960,1,7.5,0.5,0.5,1.00,0.0,0.3,9.80
1055,2,2015-03-03 18:24:26,2015-03-03 18:35:25,1,2.07,-73.982101,40.773849,1,N,-73.968132,40.799580,1,9.5,1.0,0.5,3.39,0.0,0.3,14.69
1164,1,2015-03-21 13:21:06,2015-03-21 13:37:19,2,1.90,-73.981880,40.779709,1,N,-73.959999,40.763767,1,12.0,0.0,0.5,2.50,0.0,0.3,15.30
1177,1,2015-03-21 13:46:10,2015-03-21 13:57:17,1,1.90,-73.982063,40.771957,1,N,-73.956436,40.775414,2,10.0,0.0,0.5,0.00,0.0,0.3,10.80
1245,2,2015-03-21 18:23:54,2015-03-21 18:34:05,6,1.34,-73.981827,40.773399,1,N,-73.995453,40.760540,1,8.5,0.0,0.5,1.00,0.0,0.3,10.30
1315,2,2015-03-04 19:40:50,2015-03-04 19:51:55,2,1.43,-73.982132,40.746544,1,N,-74.002304,40.755058,1,9.0,1.0,0.5,2.16,0.0,0.3,12.96
1446,1,2015-03-25 23:02:39,2015-03-25 23:13:01,1,2.40,-73.982185,40.773651,1,N,-74.006058,40.745228,1,10.0,0.5,0.5,2.25,0.0,0.3,13.55
1503,1,2015-03-21 16:44:42,2015-03-21 16:48:28,2,0.60,-73.981934,40.770966,1,N,-73.976685,40.764919,1,4.5,0.0,0.5,1.06,0.0,0.3,6.36
1522,1,2015-03-21 15:01:45,2015-03-21 15:15:01,1,2.00,-73.981934,40.751732,1,N,-73.995224,40.769634,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30
1609,1,2015-03-11 19:51:21,2015-03-11 20:28:56,1,0.90,-73.982109,40.778378,1,N,-73.981667,40.769375,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30
1664,1,2015-03-25 23:29:59,2015-03-25 23:38:15,1,1.60,-73.981964,40.746593,1,N,-73.996826,40.761063,1,8.0,0.5,0.5,1.40,0.0,0.3,10.70
1673,1,2015-03-25 23:30:04,2015-03-25 23:33:11,1,0.80,-73.982216,40.775990,1,N,-73.982094,40.784695,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
1739,1,2015-03-26 00:02:31,2015-03-26 00:06:40,1,1.00,-73.982086,40.772137,1,N,-73.975868,40.786469,1,6.0,0.5,0.5,1.45,0.0,0.3,8.75
1798,1,2015-03-21 15:51:36,2015-03-21 16:01:06,1,1.40,-73.982071,40.775349,1,N,-73.987122,40.754089,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80
1822,2,2015-03-08 01:19:17,2015-03-08 01:29:11,1,2.31,-73.981880,40.740627,1,N,-73.976387,40.766037,1,9.5,0.5,0.5,2.16,0.0,0.3,12.96
1838,1,2015-03-21 16:16:26,2015-03-21 16:20:31,1,0.60,-73.981918,40.781281,1,N,-73.982056,40.772213,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13062507,1,2015-03-29 12:05:23,2015-03-29 12:16:08,2,1.10,-73.982109,40.776825,1,N,-73.970894,40.767014,1,8.5,0.0,0.5,1.85,0.0,0.3,11.15
13062566,1,2015-03-15 13:20:38,2015-03-15 13:24:27,1,1.10,-73.981972,40.778725,1,N,-73.972443,40.792580,1,5.5,0.0,0.5,1.25,0.0,0.3,7.55
13062613,1,2015-03-15 13:44:43,2015-03-15 13:55:31,1,1.30,-73.981857,40.739227,1,N,-73.991524,40.749043,1,9.0,0.0,0.5,1.00,0.0,0.3,10.80
13062802,1,2015-03-15 15:50:30,2015-03-15 16:04:08,1,2.30,-73.982155,40.778770,1,Y,-73.970284,40.756996,1,11.5,0.0,0.5,2.45,0.0,0.3,14.75
13062808,1,2015-03-15 15:50:33,2015-03-15 15:59:14,1,1.40,-73.982040,40.731274,1,N,-73.994652,40.743893,1,8.0,0.0,0.5,1.20,0.0,0.3,10.00
13062895,1,2015-03-29 12:55:09,2015-03-29 13:18:36,1,3.50,-73.982048,40.740768,1,N,-73.988647,40.778183,1,16.5,0.0,0.5,2.70,0.0,0.3,20.00
13062937,1,2015-03-29 13:19:37,2015-03-29 13:33:16,1,1.90,-73.981972,40.766117,1,N,-74.004135,40.752819,1,10.5,0.0,0.5,1.50,0.0,0.3,12.80
13063131,2,2015-03-26 18:47:37,2015-03-26 19:04:44,1,1.06,-73.981819,40.746040,1,N,-73.997047,40.754650,2,11.0,1.0,0.5,0.00,0.0,0.3,12.80
13063216,2,2015-03-08 12:39:17,2015-03-08 12:50:38,2,1.91,-73.981903,40.740498,1,N,-73.972672,40.762581,1,9.5,0.0,0.5,2.06,0.0,0.3,12.36
13063406,2,2015-03-24 15:18:15,2015-03-24 15:25:43,1,0.89,-73.982094,40.771606,1,N,-73.974617,40.779968,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30
13063429,2,2015-03-03 14:38:47,2015-03-03 15:08:18,1,4.08,-73.982101,40.756432,1,N,-74.011490,40.707951,1,20.5,0.0,0.5,4.26,0.0,0.3,25.56
13063512,2,2015-03-26 19:57:04,2015-03-26 20:03:53,1,1.11,-73.982155,40.768440,1,N,-73.979378,40.763462,2,6.5,1.0,0.5,0.00,0.0,0.3,8.30
13063526,2,2015-03-26 19:57:09,2015-03-26 20:07:47,5,0.94,-73.982094,40.745972,1,N,-73.989487,40.739731,1,8.0,1.0,0.5,1.96,0.0,0.3,11.76
13063536,2,2015-03-03 17:42:21,2015-03-03 18:01:30,1,1.18,-73.982224,40.768940,1,N,-73.969063,40.758518,1,12.0,1.0,0.5,3.45,0.0,0.3,17.25
13063539,2,2015-03-03 17:42:22,2015-03-03 17:48:10,1,0.94,-73.982056,40.773918,1,N,-73.991791,40.770683,1,6.0,1.0,0.5,1.56,0.0,0.3,9.36
13063609,2,2015-03-13 22:08:54,2015-03-13 22:20:42,1,2.42,-73.981956,40.750793,1,N,-73.957733,40.777058,1,10.5,0.5,0.5,2.36,0.0,0.3,14.16
13063643,2,2015-03-15 12:29:57,2015-03-15 12:39:41,5,2.82,-73.982193,40.768417,1,N,-73.963737,40.803108,1,10.5,0.0,0.5,2.26,0.0,0.3,13.56
13063776,2,2015-03-13 22:09:30,2015-03-13 22:21:35,2,2.50,-73.982094,40.775185,1,N,-73.953117,40.768375,1,10.5,0.5,0.5,1.69,0.0,0.3,13.49
13063980,2,2015-03-14 20:09:39,2015-03-14 20:13:51,5,0.52,-73.982040,40.764412,1,N,-73.976624,40.763756,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
13064180,2,2015-03-21 21:42:24,2015-03-21 21:51:33,1,1.40,-73.982162,40.764801,1,N,-73.970078,40.752735,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
13064258,2,2015-03-21 14:10:52,2015-03-21 14:14:27,1,0.73,-73.982185,40.773018,1,N,-73.982452,40.764713,1,4.5,0.0,0.5,0.50,0.0,0.3,5.80
13064308,2,2015-03-15 18:51:02,2015-03-15 18:55:40,2,0.80,-73.981918,40.744785,1,N,-73.992279,40.746052,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
13064367,2,2015-03-03 09:28:13,2015-03-03 09:36:11,1,0.70,-73.981857,40.768349,1,N,-73.984398,40.759743,1,6.5,0.0,0.5,1.46,0.0,0.3,8.76
13064439,2,2015-03-15 10:46:42,2015-03-15 11:03:01,1,3.65,-73.981834,40.738338,1,N,-73.979408,40.771286,2,14.0,0.0,0.5,0.00,0.0,0.3,14.80
13064536,2,2015-03-07 16:47:28,2015-03-07 17:04:32,1,2.63,-73.982162,40.752460,1,N,-74.003548,40.722618,2,12.5,0.0,0.5,0.00,0.0,0.3,13.30
13064744,2,2015-03-03 06:50:56,2015-03-03 06:55:29,1,1.05,-73.982155,40.768681,1,N,-73.978416,40.783218,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
13064829,2,2015-03-07 11:42:04,2015-03-07 11:52:18,4,1.66,-73.981979,40.736568,1,N,-73.990341,40.718021,1,8.5,0.0,0.5,1.86,0.0,0.3,11.16
13064840,2,2015-03-24 09:54:35,2015-03-24 10:07:12,5,2.29,-73.981949,40.768608,1,N,-73.960747,40.778091,2,10.5,0.0,0.5,0.00,0.0,0.3,11.30
13065167,2,2015-03-07 23:32:25,2015-03-07 23:56:05,1,4.72,-73.982140,40.758080,1,N,-73.922432,40.758831,2,19.5,0.5,0.5,0.00,0.0,0.3,20.80
13065212,2,2015-03-14 19:40:15,2015-03-14 19:44:50,1,0.79,-73.981911,40.777065,1,N,-73.990944,40.775410,1,5.0,0.0,0.5,1.16,0.0,0.3,6.96

In [0]:
dy['Time_carreer_seconds'] = dy.apply(
    lambda s:
    time.mktime((datetime.strptime(s['tpep_dropoff_datetime'],"%Y-%m-%d %H:%M:%S")).timetuple())
    -time.mktime((datetime.strptime(s['tpep_pickup_datetime'],"%Y-%m-%d %H:%M:%S")).timetuple())
    ,axis=1)

In [0]:
dy.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Time_carreer_seconds
127,1,2015-03-30 22:40:48,2015-03-30 22:47:31,1,1.60,-73.981888,40.757450,1,N,-73.962646,40.765217,2,7.0,0.5,0.5,0.0,0.0,0.3,8.3,403.0
207,2,2015-03-23 12:12:01,2015-03-23 12:20:43,1,0.38,-73.982132,40.765587,1,N,-73.975388,40.762878,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3,522.0
208,2,2015-03-23 12:12:01,2015-03-23 12:30:37,1,1.69,-73.982193,40.757278,1,N,-73.960007,40.763050,2,12.5,0.0,0.5,0.0,0.0,0.3,13.3,1116.0
213,2,2015-03-23 12:12:02,2015-03-23 12:15:05,2,0.37,-73.982208,40.771156,1,N,-73.986824,40.769997,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8,183.0
219,2,2015-03-23 12:12:03,2015-03-23 12:26:21,1,4.21,-73.981972,40.773422,1,N,-73.981972,40.773422,1,15.5,0.0,0.5,2.0,0.0,0.3,18.3,858.0

In [0]:
dy['Time_carrer_minutes'] = dy.apply(
    lambda s:
    (s['Time_carreer_seconds'] % 3600) // 60
    ,axis=1)

In [0]:
dy.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Time_carreer_seconds,Time_carrer_minutes
127,1,2015-03-30 22:40:48,2015-03-30 22:47:31,1,1.60,-73.981888,40.757450,1,N,-73.962646,...,2,7.0,0.5,0.5,0.0,0.0,0.3,8.3,403.0,6.0
207,2,2015-03-23 12:12:01,2015-03-23 12:20:43,1,0.38,-73.982132,40.765587,1,N,-73.975388,...,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3,522.0,8.0
208,2,2015-03-23 12:12:01,2015-03-23 12:30:37,1,1.69,-73.982193,40.757278,1,N,-73.960007,...,2,12.5,0.0,0.5,0.0,0.0,0.3,13.3,1116.0,18.0
213,2,2015-03-23 12:12:02,2015-03-23 12:15:05,2,0.37,-73.982208,40.771156,1,N,-73.986824,...,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8,183.0,3.0
219,2,2015-03-23 12:12:03,2015-03-23 12:26:21,1,4.21,-73.981972,40.773422,1,N,-73.981972,...,1,15.5,0.0,0.5,2.0,0.0,0.3,18.3,858.0,14.0

In [0]:
carrera=dy[(dy['Time_carrer_minutes']<=30.0)]

In [0]:
carrera

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Time_carreer_seconds,Time_carrer_minutes
127,1,2015-03-30 22:40:48,2015-03-30 22:47:31,1,1.60,-73.981888,40.757450,1,N,-73.962646,...,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30,403.0,6.0
207,2,2015-03-23 12:12:01,2015-03-23 12:20:43,1,0.38,-73.982132,40.765587,1,N,-73.975388,...,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30,522.0,8.0
208,2,2015-03-23 12:12:01,2015-03-23 12:30:37,1,1.69,-73.982193,40.757278,1,N,-73.960007,...,2,12.5,0.0,0.5,0.00,0.0,0.3,13.30,1116.0,18.0
213,2,2015-03-23 12:12:02,2015-03-23 12:15:05,2,0.37,-73.982208,40.771156,1,N,-73.986824,...,2,4.0,0.0,0.5,0.00,0.0,0.3,4.80,183.0,3.0
219,2,2015-03-23 12:12:03,2015-03-23 12:26:21,1,4.21,-73.981972,40.773422,1,N,-73.981972,...,1,15.5,0.0,0.5,2.00,0.0,0.3,18.30,858.0,14.0
231,1,2015-03-30 23:10:26,2015-03-30 23:22:07,1,2.70,-73.981964,40.778687,1,N,-73.946022,...,1,11.0,0.5,0.5,2.00,0.0,0.3,14.30,701.0,11.0
239,1,2015-03-30 23:10:32,2015-03-30 23:21:24,2,1.90,-73.981911,40.768356,1,N,-73.991402,...,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,652.0,10.0
309,2,2015-03-12 22:42:02,2015-03-12 22:48:06,6,0.92,-73.981956,40.771858,1,N,-73.968819,...,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30,364.0,6.0
568,1,2015-03-11 20:33:02,2015-03-11 20:42:39,1,2.20,-73.982025,40.771530,1,N,-73.964622,...,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,577.0,9.0
590,1,2015-03-17 09:20:34,2015-03-17 09:48:22,1,0.70,-73.981949,40.768463,1,N,-73.969521,...,1,16.0,0.0,0.5,3.35,0.0,0.3,20.15,1668.0,27.0
729,2,2015-03-31 17:25:49,2015-03-31 17:38:43,5,2.18,-73.981979,40.769104,1,N,-73.953934,...,1,10.5,1.0,0.5,1.00,0.0,0.3,13.30,774.0,12.0
807,2,2015-03-08 08:15:52,2015-03-08 08:21:14,1,1.46,-73.982170,40.778046,1,N,-73.983673,...,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,322.0,5.0
872,2,2015-03-27 06:24:21,2015-03-27 06:29:03,1,1.32,-73.981903,40.773308,1,N,-73.975693,...,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80,282.0,4.0
882,2,2015-03-27 06:24:26,2015-03-27 06:31:51,5,1.98,-73.982124,40.775227,1,N,-73.960075,...,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30,445.0,7.0
970,2,2015-03-21 20:21:04,2015-03-21 20:30:08,5,1.39,-73.981880,40.768082,1,N,-73.991928,...,1,7.5,0.5,0.5,1.00,0.0,0.3,9.80,544.0,9.0
1055,2,2015-03-03 18:24:26,2015-03-03 18:35:25,1,2.07,-73.982101,40.773849,1,N,-73.968132,...,1,9.5,1.0,0.5,3.39,0.0,0.3,14.69,659.0,10.0
1164,1,2015-03-21 13:21:06,2015-03-21 13:37:19,2,1.90,-73.981880,40.779709,1,N,-73.959999,...,1,12.0,0.0,0.5,2.50,0.0,0.3,15.30,973.0,16.0
1177,1,2015-03-21 13:46:10,2015-03-21 13:57:17,1,1.90,-73.982063,40.771957,1,N,-73.956436,...,2,10.0,0.0,0.5,0.00,0.0,0.3,10.80,667.0,11.0
1245,2,2015-03-21 18:23:54,2015-03-21 18:34:05,6,1.34,-73.981827,40.773399,1,N,-73.995453,...,1,8.5,0.0,0.5,1.00,0.0,0.3,10.30,611.0,10.0
1315,2,2015-03-04 19:40:50,2015-03-04 19:51:55,2,1.43,-73.982132,40.746544,1,N,-74.002304,...,1,9.0,1.0,0.5,2.16,0.0,0.3,12.96,665.0,11.0
1446,1,2015-03-25 23:02:39,2015-03-25 23:13:01,1,2.40,-73.982185,40.773651,1,N,-74.006058,...,1,10.0,0.5,0.5,2.25,0.0,0.3,13.55,622.0,10.0
1503,1,2015-03-21 16:44:42,2015-03-21 16:48:28,2,0.60,-73.981934,40.770966,1,N,-73.976685,...,1,4.5,0.0,0.5,1.06,0.0,0.3,6.36,226.0,3.0
1522,1,2015-03-21 15:01:45,2015-03-21 15:15:01,1,2.00,-73.981934,40.751732,1,N,-73.995224,...,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30,796.0,13.0
1664,1,2015-03-25 23:29:59,2015-03-25 23:38:15,1,1.60,-73.981964,40.746593,1,N,-73.996826,...,1,8.0,0.5,0.5,1.40,0.0,0.3,10.70,496.0,8.0
1673,1,2015-03-25 23:30:04,2015-03-25 23:33:11,1,0.80,-73.982216,40.775990,1,N,-73.982094,...,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,187.0,3.0
1739,1,2015-03-26 00:02:31,2015-03-26 00:06:40,1,1.00,-73.982086,40.772137,1,N,-73.975868,...,1,6.0,0.5,0.5,1.45,0.0,0.3,8.75,249.0,4.0
1798,1,2015-03-21 15:51:36,2015-03-21 16:01:06,1,1.40,-73.982071,40.775349,1,N,-73.987122,...,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80,570.0,9.0
1822,2,2015-03-08 01:19:17,2015-03-08 01:29:11,1,2.31,-73.981880,40.740627,1,N,-73.976387,...,1,9.5,0.5,0.5,2.16,0.0,0.3,12.96,594.0,9.0
1838,1,2015-03-21 16:16:26,2015-03-21 16:20:31,1,0.60,-73.981918,40.781281,1,N,-73.982056,...,1,5.0,0.0,0.5,1.15,0.0,0.3,6.95,245.0,4.0
1858,2,2015-03-29 19:22:51,2015-03-29 19:34:32,3,1.16,-73.981888,40.765469,1,N,-73.990723,...,2,9.0,0.0,0.5,0.00,0.0,0.3,9.80,701.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13062507,1,2015-03-29 12:05:23,2015-03-29 12:16:08,2,1.10,-73.982109,40.776825,1,N,-73.970894,...,1,8.5,0.0,0.5,1.85,0.0,0.3,11.15,645.0,10.0
13062566,1,2015-03-15 13:20:38,2015-03-15 13:24:27,1,1.10,-73.981972,40.778725,1,N,-73.972443,...,1,5.5,0.0,0.5,1.25,0.0,0.3,7.55,229.0,3.0
13062613,1,2015-03-15 13:44:43,2015-03-15 13:55:31,1,1.30,-73.981857,40.739227,1,N,-73.991524,...,1,9.0,0.0,0.5,1.00,0.0,0.3,10.80,648.0,10.0
13062802,1,2015-03-15 15:50:30,2015-03-15 16:04:08,1,2.30,-73.982155,40.778770,1,Y,-73.970284,...,1,11.5,0.0,0.5,2.45,0.0,0.3,14.75,818.0,13.0
13062808,1,2015-03-15 15:50:33,2015-03-15 15:59:14,1,1.40,-73.982040,40.731274,1,N,-73.994652,...,1,8.0,0.0,0.5,1.20,0.0,0.3,10.00,521.0,8.0
13062895,1,2015-03-29 12:55:09,2015-03-29 13:18:36,1,3.50,-73.982048,40.740768,1,N,-73.988647,...,1,16.5,0.0,0.5,2.70,0.0,0.3,20.00,1407.0,23.0
13062937,1,2015-03-29 13:19:37,2015-03-29 13:33:16,1,1.90,-73.981972,40.766117,1,N,-74.004135,...,1,10.5,0.0,0.5,1.50,0.0,0.3,12.80,819.0,13.0
13063131,2,2015-03-26 18:47:37,2015-03-26 19:04:44,1,1.06,-73.981819,40.746040,1,N,-73.997047,...,2,11.0,1.0,0.5,0.00,0.0,0.3,12.80,1027.0,17.0
13063216,2,2015-03-08 12:39:17,2015-03-08 12:50:38,2,1.91,-73.981903,40.740498,1,N,-73.972672,...,1,9.5,0.0,0.5,2.06,0.0,0.3,12.36,681.0,11.0
13063406,2,2015-03-24 15:18:15,2015-03-24 15:25:43,1,0.89,-73.982094,40.771606,1,N,-73.974617,...,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30,448.0,7.0
13063429,2,2015-03-03 14:38:47,2015-03-03 15:08:18,1,4.08,-73.982101,40.756432,1,N,-74.011490,...,1,20.5,0.0,0.5,4.26,0.0,0.3,25.56,1771.0,29.0
13063512,2,2015-03-26 19:57:04,2015-03-26 20:03:53,1,1.11,-73.982155,40.768440,1,N,-73.979378,...,2,6.5,1.0,0.5,0.00,0.0,0.3,8.30,409.0,6.0
13063526,2,2015-03-26 19:57:09,2015-03-26 20:07:47,5,0.94,-73.982094,40.745972,1,N,-73.989487,...,1,8.0,1.0,0.5,1.96,0.0,0.3,11.76,638.0,10.0
13063536,2,2015-03-03 17:42:21,2015-03-03 18:01:30,1,1.18,-73.982224,40.768940,1,N,-73.969063,...,1,12.0,1.0,0.5,3.45,0.0,0.3,17.25,1149.0,19.0
13063539,2,2015-03-03 17:42:22,2015-03-03 17:48:10,1,0.94,-73.982056,40.773918,1,N,-73.991791,...,1,6.0,1.0,0.5,1.56,0.0,0.3,9.36,348.0,5.0
13063609,2,2015-03-13 22:08:54,2015-03-13 22:20:42,1,2.42,-73.981956,40.750793,1,N,-73.957733,...,1,10.5,0.5,0.5,2.36,0.0,0.3,14.16,708.0,11.0
13063643,2,2015-03-15 12:29:57,2015-03-15 12:39:41,5,2.82,-73.982193,40.768417,1,N,-73.963737,...,1,10.5,0.0,0.5,2.26,0.0,0.3,13.56,584.0,9.0
13063776,2,2015-03-13 22:09:30,2015-03-13 22:21:35,2,2.50,-73.982094,40.775185,1,N,-73.953117,...,1,10.5,0.5,0.5,1.69,0.0,0.3,13.49,725.0,12.0
13063980,2,2015-03-14 20:09:39,2015-03-14 20:13:51,5,0.52,-73.982040,40.764412,1,N,-73.976624,...,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,252.0,4.0
13064180,2,2015-03-21 21:42:24,2015-03-21 21:51:33,1,1.40,-73.982162,40.764801,1,N,-73.970078,...,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,549.0,9.0
13064258,2,2015-03-21 14:10:52,2015-03-21 14:14:27,1,0.73,-73.982185,40.773018,1,N,-73.982452,...,1,4.5,0.0,0.5,0.50,0.0,0.3,5.80,215.0,3.0
13064308,2,2015-03-15 18:51:02,2015-03-15 18:55:40,2,0.80,-73.981918,40.744785,1,N,-73.992279,...,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80,278.0,4.0
13064367,2,2015-03-03 09:28:13,2015-03-03 09:36:11,1,0.70,-73.981857,40.768349,1,N,-73.984398,...,1,6.5,0.0,0.5,1.46,0.0,0.3,8.76,478.0,7.0
13064439,2,2015-03-15 10:46:42,2015-03-15 11:03:01,1,3.65,-73.981834,40.738338,1,N,-73.979408,...,2,14.0,0.0,0.5,0.00,0.0,0.3,14.80,979.0,16.0
13064536,2,2015-03-07 16:47:28,2015-03-07 17:04:32,1,2.63,-73.982162,40.752460,1,N,-74.003548,...,2,12.5,0.0,0.5,0.00,0.0,0.3,13.30,1024.0,17.0
13064744,2,2015-03-03 06:50:56,2015-03-03 06:55:29,1,1.05,-73.982155,40.768681,1,N,-73.978416,...,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80,273.0,4.0
13064829,2,2015-03-07 11:42:04,2015-03-07 11:52:18,4,1.66,-73.981979,40.736568,1,N,-73.990341,...,1,8.5,0.0,0.5,1.86,0.0,0.3,11.16,614.0,10.0
13064840,2,2015-03-24 09:54:35,2015-03-24 10:07:12,5,2.29,-73.981949,40.768608,1,N,-73.960747,...,2,10.5,0.0,0.5,0.00,0.0,0.3,11.30,757.0,12.0
13065167,2,2015-03-07 23:32:25,2015-03-07 23:56:05,1,4.72,-73.982140,40.758080,1,N,-73.922432,...,2,19.5,0.5,0.5,0.00,0.0,0.3,20.80,1420.0,23.0
13065212,2,2015-03-14 19:40:15,2015-03-14 19:44:50,1,0.79,-73.981911,40.777065,1,N,-73.990944,...,1,5.0,0.0,0.5,1.16,0.0,0.3,6.96,275.0,4.0

In [0]:
print('Exito: ',len(carrera),'Total: ',len(dy),'%Exito: ',round(len(carrera)/len(dy),2))

Exito:  194891 Total:  199681 %Exito:  0.98